@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color:hsl(225, 100%, 94%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-container {
    max-width: 400px;
    max-height: 604px;
    min-width: 305px;
    min-height: 534px;
    height: 80vh;
    width: 82vw;
    background-color: white;
    border-radius: 5%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    'hero-img'
    'info-container'
    'info-container'
    'info-container'
    'info-container'
    ;
}

.hero-img {
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    grid-area: hero-img;
}

.info-container{
    grid-area: info-container;
    width: 90%;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container > * {
    margin-bottom: 7%;
}

.title{
    font-family:'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
}


.summary-text {
    font-family:'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.plan-container {
    border-radius: 5%;
    background-color:hsl(225, 100%, 98%);
    padding: 5%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.plan-and-cost-container {
    line-height: 1.3rem;
}

.proceed-btn{
    background-color: hsl(245, 75%, 52%);
    border-radius: 5%;
    border: none;
    padding: 5%;
}

.proceed-btn > p {
    color: white;
}

.cancel-btn {
    color: hsl(224, 23%, 55%);
}


/*Responsive Styling*/

@media only screen and (min-width: 376px){
body {
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size:contain;
}

}