@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.component-container {
    background-color: white;
    height: 500px;
    width: 325px;
    min-height: 475px;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.qr-code{
    background-image: url('./images/image-qr-code.png') ;
    height: 55%;
    width: 85%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4%;
    margin: 15px 0;
}

.text {
    width: 85%;
    height: 40%;
    padding-top: 10px;
}

p {
    font-size: 15px;
    font-family: Outfit;
    font-weight:400;
    line-height: 0.5cm;
    color:hsl(220, 15%, 55%);
    width: 100%;
    text-align:center;
}

.heading {
    font-weight: 700;
    color:hsl(218, 44%, 22%);
    font-size: 1.1rem;
}

.sentence {
    padding-top: 20px;
}